@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

header, footer  {
    background-color: salmon;
}

.post {
    background-color: snow;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}

.post img {
    margin: 20px;
}

h1 {
    margin-left: 40%;
    font-size: 50px;
    color: red;
    font-family: 'Anton', sans-serif;
}